.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #d5e1df;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
 
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}




button {
  border: none;
  outline: 0;
  padding: 8px;
  color: white;
  background-color: #000;
  font-size: 18px;
  float: left;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

.xx {
  background-color: lightgrey;
}

.xcontainer{
    margin: 30px 50px 30px 50px;
    border: 2px solid #d5e1df;
    background-color: #FFF;
}

.border-spacing: 5px;

.buttonpost {background-color: #e7e7e7; color: black;} /* Gray */ 